.logo { 
	width: 40vw;
	float: left; 
	margin-top: 4vw;
	margin-left: 5vw;
}
#btn-menu{
	display: block;
	font-size: 15vw;
	padding-bottom: 0;
	padding-left: 2vw;
	padding-right: 2vw;
	background: none;
	float: right;
	margin-right: 4vw;
	margin-top: 2vw;
}
#btn-fechar{
	display: block;
	font-size: 20vw;
	padding: 2vw;
	background: none;
	float: right;
	margin-right: 4vw;
	margin-top: 1vw;
	
}
#btn-fechar i{
	color: white;
}
.cabecalho{
	width: 100vw;
}
#menu{
	width: 100vw !important; 
	height: 200vw !important; 
	position: fixed;
	background-color: rgba(200,200,200,0.8);
	margin-top: 0vw !important;
	left: 0vw;
	margin-top: -0vw;
}
#menu ul{
	width: 90vw;
	float: left;
	text-align: center;
	margin-left: 5vw;
	margin-top: 2vw;
}
#menu ul li{
	margin-top: 5vw;
	display: block;
	padding: 3vw;
	border: solid 7px;
	background-color: rgba(200,200,200,1);
}
#menu li a{
	padding: 0;
	font-size: 5vw;
	color: Black;
	line-height: 1;
}
#menu li a:hover { 
	color: #272727; 
	background-color: rgba(200,200,200,1) 
}
.banner{
	width: 100vw;
	height: 50vw;
	margin-top: 40vw;
}
.sobre{
	width: 100vw;
}
.sobre article{float: block; width: 100%;}
#sobre2{
	width: 100vw;
}
.sobre h1{
	width: 15vw;
	margin-left: 45vw;
	margin-top: 10%;
	text-align: center;
	font-weight: 800;
	font-size: 150%;
}
.sobre p{
	font-size: 6vw; 
	width: 80vw;
	margin-left: 10vw;
}
.sobre img{
	margin-left: 7vw;
	width: 90vw;
}
.wrapper{
	width: 100vw;
	margin: 0 auto;/*Margin top e botton 0 auto direita e esquerda*/
	padding: 0;
}
.produtos{
	margin-bottom: 3vw;
	height: 120vw;
}
.produtos h1{
	margin-top: 5vw;
	text-align: center;
	font-weight: 800;
	font-size: 150vw;
}
.produtos article{
	padding: 0;
	width: 80%;  
	margin-top: 3%;
	float: none;
	text-align: center;
	margin-left: 10vw;
}
.produtos img { 
	width: 60%;
	border: solid 5px black;
	border-radius: 7px ;
	margin-bottom: 3%; 
}
.endereco{
	width: 100%;
	padding-bottom: 5vw;
	
}
.endereco h1{
	text-align: center;
	font-weight: 800;
	font-size: 150%;
	margin-top: 5vw;
	margin-bottom: 2vw;
}
.map{
	margin-top: 2%;
	margin-left: 10vw;
	width: 78vw;
}
.map iframe{
	width: 80vw;
}
.mapouter{
	position:relative;
	text-align:right;
	height:500px;
	width:80vw;
}
.gmap_canvas{
	overflow:hidden;
	background:none!important;
	height:500px;
	width:80vw!important;
}
footer{
	margin-top: 3vw;
	margin-bottom: 2vw;
}
.social-icons{
	margin-top: 1vw;
	margin-bottom: 2vw;
}
.slid{
	width: 100vw !important;
}

#confeitaria, #panificadora, #lanches {
	width: 30vw;
	display: inline-block;
	margin: 0;
}

.prod{
	display: inline-block;
	width: 40vw !important;
	margin: 0;
}
.prod img{
	height: 22vw;
}
.config{
	margin-top: 5vw;
	margin-left: 5vw !important;
	width: 88vw !important;
	height: 100vw !important;
}

.config i{
	font-size: 10vw;
	color: white;
	margin-top: 1vw;
	margin-left: 72vw;
	position: absolute;
}

.config h1{
	margin-top: 1vw;
	font-size: 6vw;
	text-align: center;
	font-weight: 600; 
}
.config p{
	font-size: 3vw;
	margin-top: 2vw;
	margin-left: 2vw;
	margin-right: 2vw;
}
.config img{
	width: 100vw;
	height: 56%
}
.config h2{
	font-size: 3vw;
	margin-top: 1.5vw;
	font-weight: 800; 
	text-align: center;
}

.sobre p{
	font-size: 5vw !important;
}

.banner i{
	font-size: 8vw;
}
.banner {
	margin-top: 10vw !important;
	margin-bottom: 4vw;
}

.map{
	margin-bottom: 10vw;
}